/*!
Custom styling
- styling that doesn't fit elsewhere (cu-*) or unique naming
*/

// TEMP

// Colours
.is-red-candy {
  color: $red-candy;
}
.is-red-pale {
  color: $red-pale;
}
.is-white-pale {
  color: $white-pale;
}
.is-navy-pale {
  color: $navy-pale;
}
.is-navy-dark {
  color: $navy-dark;
}

// Styling
.cu-text-shadow {
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

// animation
.cu-lazy {
  transition: opacity 1s ease-out;
}
