/*!
GLOBALS styling
- header, navigation, footer, etc (g-*)
*/

.g-progress,
.header {
	width: 100%;
	left: 0;
	z-index: 10;
}

.g-progress {
	height: 3px;
	top: 0;
	opacity: 0;
	background: $navy-dark;
	@include animate(default);

	&__bar {
		width: 0;
		height: 3px;
		background: $red-pale;
		@include animate(default);
	}
}

.header {
	top: 3px;
	@include animate(default);

	.container { z-index: 1; }

	&__bg {
		background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.9));
		top: 0;
		left: 0;
		width: 100%;
		height: 0;
		@include animate(default);
	}

	&__logo {
		img { width: 7rem; }

		&--w { @include animate(default); }

		&--b {
			top: 0;
			left: 0;
			opacity: 0;
			@include animate(default);
		}
	}

	&__timer {
		padding: 5px 10px;
		border-radius: 3px;
		background: rgba(0, 0, 0, 0.5);
		color: white;
		opacity: 0.66;
		@include animate(default);
		top: 50%;
		right: 0;
		transform: translate(0, -50%);
		@extend %fontNunito700;
		text-transform: uppercase;
		font-size: 0.7rem;
		line-height: 1;

		@include breakpoint($tablet) {
			right: auto;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		@include breakpoint($desktop) {}
		@include breakpoint($widescreen) {  }
		@include breakpoint($fullhd) {  }
	}

	&__timer-desc { opacity: 0.5; }

	// page header
	&.header-page {
		.header {
			&__bg { 
				height: 100%;
				// google font header's drop shadow xD
				//box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
			}

			&__logo {
				img { width: 5rem; }

				&--w { opacity: 0; }
				&--b { opacity: 1; }
			}

			&__timer {
				background: none;
				color: black;
			}
		}
	}
}

.footer {
	background: $navy-dark;
	color: $navy-pale;

	&__bg {
		top: -6rem;
		left: -1rem;
		font-size: 18rem;
		opacity: 0.1;
	}

	&__info { z-index: 1; }

	&__twitter {
		color: $navy-pale;
		opacity: 0.33;
		cursor: default;

		&:hover { color: $navy-pale; }
	}
}