.tw-bg-fixed {
  background-attachment: fixed !important
}

.tw-bg-local {
  background-attachment: local !important
}

.tw-bg-scroll {
  background-attachment: scroll !important
}

.tw-bg-bottom {
  background-position: bottom !important
}

.tw-bg-center {
  background-position: center !important
}

.tw-bg-left {
  background-position: left !important
}

.tw-bg-left-bottom {
  background-position: left bottom !important
}

.tw-bg-left-top {
  background-position: left top !important
}

.tw-bg-right {
  background-position: right !important
}

.tw-bg-right-bottom {
  background-position: right bottom !important
}

.tw-bg-right-top {
  background-position: right top !important
}

.tw-bg-top {
  background-position: top !important
}

.tw-bg-repeat {
  background-repeat: repeat !important
}

.tw-bg-no-repeat {
  background-repeat: no-repeat !important
}

.tw-bg-repeat-x {
  background-repeat: repeat-x !important
}

.tw-bg-repeat-y {
  background-repeat: repeat-y !important
}

.tw-bg-repeat-round {
  background-repeat: round !important
}

.tw-bg-repeat-space {
  background-repeat: space !important
}

.tw-bg-auto {
  background-size: auto !important
}

.tw-bg-cover {
  background-size: cover !important
}

.tw-bg-contain {
  background-size: contain !important
}

.tw-border-collapse {
  border-collapse: collapse !important
}

.tw-border-separate {
  border-collapse: separate !important
}

.tw-rounded-12 {
  border-radius: .125rem !important
}

.tw-rounded-50 {
  border-radius: .5rem !important
}

.tw-rounded-100 {
  border-radius: 1rem !important
}

.tw-rounded-none {
  border-radius: 0 !important
}

.tw-rounded {
  border-radius: .25rem !important
}

.tw-rounded-full {
  border-radius: 9999px !important
}

.tw-rounded-4px {
  border-radius: 4px !important
}

.tw-rounded-t-12 {
  border-top-left-radius: .125rem !important;
  border-top-right-radius: .125rem !important
}

.tw-rounded-r-12 {
  border-top-right-radius: .125rem !important;
  border-bottom-right-radius: .125rem !important
}

.tw-rounded-b-12 {
  border-bottom-right-radius: .125rem !important;
  border-bottom-left-radius: .125rem !important
}

.tw-rounded-l-12 {
  border-top-left-radius: .125rem !important;
  border-bottom-left-radius: .125rem !important
}

.tw-rounded-t-50 {
  border-top-left-radius: .5rem !important;
  border-top-right-radius: .5rem !important
}

.tw-rounded-r-50 {
  border-top-right-radius: .5rem !important;
  border-bottom-right-radius: .5rem !important
}

.tw-rounded-b-50 {
  border-bottom-right-radius: .5rem !important;
  border-bottom-left-radius: .5rem !important
}

.tw-rounded-l-50 {
  border-top-left-radius: .5rem !important;
  border-bottom-left-radius: .5rem !important
}

.tw-rounded-t-100 {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important
}

.tw-rounded-r-100 {
  border-top-right-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important
}

.tw-rounded-b-100 {
  border-bottom-right-radius: 1rem !important;
  border-bottom-left-radius: 1rem !important
}

.tw-rounded-l-100 {
  border-top-left-radius: 1rem !important;
  border-bottom-left-radius: 1rem !important
}

.tw-rounded-t-none {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important
}

.tw-rounded-r-none {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important
}

.tw-rounded-b-none {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important
}

.tw-rounded-l-none {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important
}

.tw-rounded-t {
  border-top-left-radius: .25rem !important;
  border-top-right-radius: .25rem !important
}

.tw-rounded-r {
  border-top-right-radius: .25rem !important;
  border-bottom-right-radius: .25rem !important
}

.tw-rounded-b {
  border-bottom-right-radius: .25rem !important;
  border-bottom-left-radius: .25rem !important
}

.tw-rounded-l {
  border-top-left-radius: .25rem !important;
  border-bottom-left-radius: .25rem !important
}

.tw-rounded-t-full {
  border-top-left-radius: 9999px !important;
  border-top-right-radius: 9999px !important
}

.tw-rounded-r-full {
  border-top-right-radius: 9999px !important;
  border-bottom-right-radius: 9999px !important
}

.tw-rounded-b-full {
  border-bottom-right-radius: 9999px !important;
  border-bottom-left-radius: 9999px !important
}

.tw-rounded-l-full {
  border-top-left-radius: 9999px !important;
  border-bottom-left-radius: 9999px !important
}

.tw-rounded-t-4px {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important
}

.tw-rounded-r-4px {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important
}

.tw-rounded-b-4px {
  border-bottom-right-radius: 4px !important;
  border-bottom-left-radius: 4px !important
}

.tw-rounded-l-4px {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important
}

.tw-rounded-tl-12 {
  border-top-left-radius: .125rem !important
}

.tw-rounded-tr-12 {
  border-top-right-radius: .125rem !important
}

.tw-rounded-br-12 {
  border-bottom-right-radius: .125rem !important
}

.tw-rounded-bl-12 {
  border-bottom-left-radius: .125rem !important
}

.tw-rounded-tl-50 {
  border-top-left-radius: .5rem !important
}

.tw-rounded-tr-50 {
  border-top-right-radius: .5rem !important
}

.tw-rounded-br-50 {
  border-bottom-right-radius: .5rem !important
}

.tw-rounded-bl-50 {
  border-bottom-left-radius: .5rem !important
}

.tw-rounded-tl-100 {
  border-top-left-radius: 1rem !important
}

.tw-rounded-tr-100 {
  border-top-right-radius: 1rem !important
}

.tw-rounded-br-100 {
  border-bottom-right-radius: 1rem !important
}

.tw-rounded-bl-100 {
  border-bottom-left-radius: 1rem !important
}

.tw-rounded-tl-none {
  border-top-left-radius: 0 !important
}

.tw-rounded-tr-none {
  border-top-right-radius: 0 !important
}

.tw-rounded-br-none {
  border-bottom-right-radius: 0 !important
}

.tw-rounded-bl-none {
  border-bottom-left-radius: 0 !important
}

.tw-rounded-tl {
  border-top-left-radius: .25rem !important
}

.tw-rounded-tr {
  border-top-right-radius: .25rem !important
}

.tw-rounded-br {
  border-bottom-right-radius: .25rem !important
}

.tw-rounded-bl {
  border-bottom-left-radius: .25rem !important
}

.tw-rounded-tl-full {
  border-top-left-radius: 9999px !important
}

.tw-rounded-tr-full {
  border-top-right-radius: 9999px !important
}

.tw-rounded-br-full {
  border-bottom-right-radius: 9999px !important
}

.tw-rounded-bl-full {
  border-bottom-left-radius: 9999px !important
}

.tw-rounded-tl-4px {
  border-top-left-radius: 4px !important
}

.tw-rounded-tr-4px {
  border-top-right-radius: 4px !important
}

.tw-rounded-br-4px {
  border-bottom-right-radius: 4px !important
}

.tw-rounded-bl-4px {
  border-bottom-left-radius: 4px !important
}

.tw-border-0 {
  border-width: 0 !important
}

.tw-border {
  border-width: 1px !important
}

.tw-border-t-0 {
  border-top-width: 0 !important
}

.tw-border-r-0 {
  border-right-width: 0 !important
}

.tw-border-b-0 {
  border-bottom-width: 0 !important
}

.tw-border-l-0 {
  border-left-width: 0 !important
}

.tw-border-t {
  border-top-width: 1px !important
}

.tw-border-r {
  border-right-width: 1px !important
}

.tw-border-b {
  border-bottom-width: 1px !important
}

.tw-border-l {
  border-left-width: 1px !important
}

.tw-cursor-auto {
  cursor: auto !important
}

.tw-cursor-default {
  cursor: default !important
}

.tw-cursor-pointer {
  cursor: pointer !important
}

.tw-cursor-wait {
  cursor: wait !important
}

.tw-cursor-text {
  cursor: text !important
}

.tw-cursor-move {
  cursor: move !important
}

.tw-cursor-not-allowed {
  cursor: not-allowed !important
}

.tw-block {
  display: block !important
}

.tw-inline-block {
  display: inline-block !important
}

.tw-inline {
  display: inline !important
}

.tw-flex {
  display: flex !important
}

.tw-inline-flex {
  display: inline-flex !important
}

.tw-table {
  display: table !important
}

.tw-table-caption {
  display: table-caption !important
}

.tw-table-cell {
  display: table-cell !important
}

.tw-table-column {
  display: table-column !important
}

.tw-table-column-group {
  display: table-column-group !important
}

.tw-table-footer-group {
  display: table-footer-group !important
}

.tw-table-header-group {
  display: table-header-group !important
}

.tw-table-row-group {
  display: table-row-group !important
}

.tw-table-row {
  display: table-row !important
}

.tw-flow-root {
  display: flow-root !important
}

.tw-grid {
  display: grid !important
}

.tw-inline-grid {
  display: inline-grid !important
}

.tw-contents {
  display: contents !important
}

.tw-hidden {
  display: none !important
}

.hover\:tw-block:hover {
  display: block !important
}

.hover\:tw-inline-block:hover {
  display: inline-block !important
}

.hover\:tw-inline:hover {
  display: inline !important
}

.hover\:tw-flex:hover {
  display: flex !important
}

.hover\:tw-inline-flex:hover {
  display: inline-flex !important
}

.hover\:tw-table:hover {
  display: table !important
}

.hover\:tw-table-caption:hover {
  display: table-caption !important
}

.hover\:tw-table-cell:hover {
  display: table-cell !important
}

.hover\:tw-table-column:hover {
  display: table-column !important
}

.hover\:tw-table-column-group:hover {
  display: table-column-group !important
}

.hover\:tw-table-footer-group:hover {
  display: table-footer-group !important
}

.hover\:tw-table-header-group:hover {
  display: table-header-group !important
}

.hover\:tw-table-row-group:hover {
  display: table-row-group !important
}

.hover\:tw-table-row:hover {
  display: table-row !important
}

.hover\:tw-flow-root:hover {
  display: flow-root !important
}

.hover\:tw-grid:hover {
  display: grid !important
}

.hover\:tw-inline-grid:hover {
  display: inline-grid !important
}

.hover\:tw-contents:hover {
  display: contents !important
}

.hover\:tw-hidden:hover {
  display: none !important
}

.tw-flex-row {
  flex-direction: row !important
}

.tw-flex-row-reverse {
  flex-direction: row-reverse !important
}

.tw-flex-col {
  flex-direction: column !important
}

.tw-flex-col-reverse {
  flex-direction: column-reverse !important
}

.tw-flex-wrap {
  flex-wrap: wrap !important
}

.tw-flex-wrap-reverse {
  flex-wrap: wrap-reverse !important
}

.tw-flex-no-wrap {
  flex-wrap: nowrap !important
}

.tw-items-start {
  align-items: flex-start !important
}

.tw-items-end {
  align-items: flex-end !important
}

.tw-items-center {
  align-items: center !important
}

.tw-items-baseline {
  align-items: baseline !important
}

.tw-items-stretch {
  align-items: stretch !important
}

.tw-content-center {
  align-content: center !important
}

.tw-content-start {
  align-content: flex-start !important
}

.tw-content-end {
  align-content: flex-end !important
}

.tw-content-between {
  align-content: space-between !important
}

.tw-content-around {
  align-content: space-around !important
}

.tw-content-evenly {
  align-content: space-evenly !important
}

.tw-self-auto {
  align-self: auto !important
}

.tw-self-start {
  align-self: flex-start !important
}

.tw-self-end {
  align-self: flex-end !important
}

.tw-self-center {
  align-self: center !important
}

.tw-self-stretch {
  align-self: stretch !important
}

.tw-justify-items-auto {
  justify-items: auto !important
}

.tw-justify-items-start {
  justify-items: start !important
}

.tw-justify-items-end {
  justify-items: end !important
}

.tw-justify-items-center {
  justify-items: center !important
}

.tw-justify-items-stretch {
  justify-items: stretch !important
}

.tw-justify-start {
  justify-content: flex-start !important
}

.tw-justify-end {
  justify-content: flex-end !important
}

.tw-justify-center {
  justify-content: center !important
}

.tw-justify-between {
  justify-content: space-between !important
}

.tw-justify-around {
  justify-content: space-around !important
}

.tw-justify-evenly {
  justify-content: space-evenly !important
}

.tw-justify-self-auto {
  justify-self: auto !important
}

.tw-justify-self-start {
  justify-self: start !important
}

.tw-justify-self-end {
  justify-self: end !important
}

.tw-justify-self-center {
  justify-self: center !important
}

.tw-justify-self-stretch {
  justify-self: stretch !important
}

.tw-flex-1 {
  flex: 1 1 0% !important
}

.tw-flex-auto {
  flex: 1 1 auto !important
}

.tw-flex-initial {
  flex: 0 1 auto !important
}

.tw-flex-none {
  flex: none !important
}

.tw-flex-grow-0 {
  flex-grow: 0 !important
}

.tw-flex-grow {
  flex-grow: 1 !important
}

.tw-flex-shrink-0 {
  flex-shrink: 0 !important
}

.tw-flex-shrink {
  flex-shrink: 1 !important
}

.tw-order-1 {
  order: 1 !important
}

.tw-order-2 {
  order: 2 !important
}

.tw-order-3 {
  order: 3 !important
}

.tw-order-4 {
  order: 4 !important
}

.tw-order-5 {
  order: 5 !important
}

.tw-order-6 {
  order: 6 !important
}

.tw-order-7 {
  order: 7 !important
}

.tw-order-8 {
  order: 8 !important
}

.tw-order-9 {
  order: 9 !important
}

.tw-order-10 {
  order: 10 !important
}

.tw-order-11 {
  order: 11 !important
}

.tw-order-12 {
  order: 12 !important
}

.tw-order-first {
  order: -9999 !important
}

.tw-order-last {
  order: 9999 !important
}

.tw-order-none {
  order: 0 !important
}

.tw-float-right {
  float: right !important
}

.tw-float-left {
  float: left !important
}

.tw-float-none {
  float: none !important
}

.tw-clearfix:after {
  content: "" !important;
  display: table !important;
  clear: both !important
}

.tw-font-hairline {
  font-weight: 100 !important
}

.tw-font-thin {
  font-weight: 200 !important
}

.tw-font-light {
  font-weight: 300 !important
}

.tw-font-normal {
  font-weight: 400 !important
}

.tw-font-medium {
  font-weight: 500 !important
}

.tw-font-semibold {
  font-weight: 600 !important
}

.tw-font-bold {
  font-weight: 700 !important
}

.tw-font-extrabold {
  font-weight: 800 !important
}

.tw-font-black {
  font-weight: 900 !important
}

.hover\:tw-font-hairline:hover {
  font-weight: 100 !important
}

.hover\:tw-font-thin:hover {
  font-weight: 200 !important
}

.hover\:tw-font-light:hover {
  font-weight: 300 !important
}

.hover\:tw-font-normal:hover {
  font-weight: 400 !important
}

.hover\:tw-font-medium:hover {
  font-weight: 500 !important
}

.hover\:tw-font-semibold:hover {
  font-weight: 600 !important
}

.hover\:tw-font-bold:hover {
  font-weight: 700 !important
}

.hover\:tw-font-extrabold:hover {
  font-weight: 800 !important
}

.hover\:tw-font-black:hover {
  font-weight: 900 !important
}

.focus\:tw-font-hairline:focus {
  font-weight: 100 !important
}

.focus\:tw-font-thin:focus {
  font-weight: 200 !important
}

.focus\:tw-font-light:focus {
  font-weight: 300 !important
}

.focus\:tw-font-normal:focus {
  font-weight: 400 !important
}

.focus\:tw-font-medium:focus {
  font-weight: 500 !important
}

.focus\:tw-font-semibold:focus {
  font-weight: 600 !important
}

.focus\:tw-font-bold:focus {
  font-weight: 700 !important
}

.focus\:tw-font-extrabold:focus {
  font-weight: 800 !important
}

.focus\:tw-font-black:focus {
  font-weight: 900 !important
}

.tw-h-auto {
  height: auto !important
}

.tw-h-full {
  height: 100% !important
}

.tw-h-screen {
  height: 100vh !important
}

.tw-text-50 {
  font-size: 0.50rem !important
}

.tw-text-65 {
  font-size: 0.65rem !important
}

.tw-text-75 {
  font-size: 0.75rem !important
}

.tw-text-85 {
  font-size: 0.85rem !important
}

.tw-text-110 {
  font-size: 1.1rem !important
}

.tw-text-125 {
  font-size: 1.25rem !important
}

.tw-text-150 {
  font-size: 1.5rem !important
}

.tw-text-175 {
  font-size: 1.75rem !important
}

.tw-text-200 {
  font-size: 2.0rem !important
}

.tw-text-250 {
  font-size: 2.5rem !important
}

.tw-text-14px {
  font-size: 0.875rem !important
}

.tw-text-base {
  font-size: 1rem !important
}

.tw-leading-3 {
  line-height: .75rem !important
}

.tw-leading-4 {
  line-height: 1rem !important
}

.tw-leading-5 {
  line-height: 1.25rem !important
}

.tw-leading-6 {
  line-height: 1.5rem !important
}

.tw-leading-7 {
  line-height: 1.75rem !important
}

.tw-leading-8 {
  line-height: 2rem !important
}

.tw-leading-9 {
  line-height: 2.25rem !important
}

.tw-leading-10 {
  line-height: 2.5rem !important
}

.tw-leading-none {
  line-height: 1 !important
}

.tw-leading-tight {
  line-height: 1.25 !important
}

.tw-leading-snug {
  line-height: 1.375 !important
}

.tw-leading-normal {
  line-height: 1.5 !important
}

.tw-leading-relaxed {
  line-height: 1.625 !important
}

.tw-leading-loose {
  line-height: 2 !important
}

.tw-list-inside {
  list-style-position: inside !important
}

.tw-list-outside {
  list-style-position: outside !important
}

.tw-list-none {
  list-style-type: none !important
}

.tw-list-disc {
  list-style-type: disc !important
}

.tw-list-decimal {
  list-style-type: decimal !important
}

.tw-m-0 {
  margin: 0 !important
}

.tw-m-12 {
  margin: 0.125rem !important
}

.tw-m-25 {
  margin: 0.25rem !important
}

.tw-m-50 {
  margin: 0.5rem !important
}

.tw-m-75 {
  margin: 0.75rem !important
}

.tw-m-100 {
  margin: 1rem !important
}

.tw-m-125 {
  margin: 1.25rem !important
}

.tw-m-150 {
  margin: 1.5rem !important
}

.tw-m-200 {
  margin: 2rem !important
}

.tw-m-250 {
  margin: 2.5rem !important
}

.tw-m-300 {
  margin: 3rem !important
}

.tw-m-400 {
  margin: 4rem !important
}

.tw-m-auto {
  margin: auto !important
}

.tw-m-px {
  margin: 1px !important
}

.tw--m-12 {
  margin: -0.125rem !important
}

.tw--m-25 {
  margin: -0.25rem !important
}

.tw--m-50 {
  margin: -0.5rem !important
}

.tw--m-75 {
  margin: -0.75rem !important
}

.tw--m-100 {
  margin: -1rem !important
}

.tw--m-125 {
  margin: -1.25rem !important
}

.tw--m-150 {
  margin: -1.5rem !important
}

.tw--m-200 {
  margin: -2rem !important
}

.tw--m-250 {
  margin: -2.5rem !important
}

.tw--m-300 {
  margin: -3rem !important
}

.tw--m-400 {
  margin: -4rem !important
}

.tw--m-px {
  margin: -1px !important
}

.tw-my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important
}

.tw-mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important
}

.tw-my-12 {
  margin-top: 0.125rem !important;
  margin-bottom: 0.125rem !important
}

.tw-mx-12 {
  margin-left: 0.125rem !important;
  margin-right: 0.125rem !important
}

.tw-my-25 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important
}

.tw-mx-25 {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important
}

.tw-my-50 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important
}

.tw-mx-50 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important
}

.tw-my-75 {
  margin-top: 0.75rem !important;
  margin-bottom: 0.75rem !important
}

.tw-mx-75 {
  margin-left: 0.75rem !important;
  margin-right: 0.75rem !important
}

.tw-my-100 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important
}

.tw-mx-100 {
  margin-left: 1rem !important;
  margin-right: 1rem !important
}

.tw-my-125 {
  margin-top: 1.25rem !important;
  margin-bottom: 1.25rem !important
}

.tw-mx-125 {
  margin-left: 1.25rem !important;
  margin-right: 1.25rem !important
}

.tw-my-150 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important
}

.tw-mx-150 {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important
}

.tw-my-200 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important
}

.tw-mx-200 {
  margin-left: 2rem !important;
  margin-right: 2rem !important
}

.tw-my-250 {
  margin-top: 2.5rem !important;
  margin-bottom: 2.5rem !important
}

.tw-mx-250 {
  margin-left: 2.5rem !important;
  margin-right: 2.5rem !important
}

.tw-my-300 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important
}

.tw-mx-300 {
  margin-left: 3rem !important;
  margin-right: 3rem !important
}

.tw-my-400 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important
}

.tw-mx-400 {
  margin-left: 4rem !important;
  margin-right: 4rem !important
}

.tw-my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important
}

.tw-mx-auto {
  margin-left: auto !important;
  margin-right: auto !important
}

.tw-my-px {
  margin-top: 1px !important;
  margin-bottom: 1px !important
}

.tw-mx-px {
  margin-left: 1px !important;
  margin-right: 1px !important
}

.tw--my-12 {
  margin-top: -0.125rem !important;
  margin-bottom: -0.125rem !important
}

.tw--mx-12 {
  margin-left: -0.125rem !important;
  margin-right: -0.125rem !important
}

.tw--my-25 {
  margin-top: -0.25rem !important;
  margin-bottom: -0.25rem !important
}

.tw--mx-25 {
  margin-left: -0.25rem !important;
  margin-right: -0.25rem !important
}

.tw--my-50 {
  margin-top: -0.5rem !important;
  margin-bottom: -0.5rem !important
}

.tw--mx-50 {
  margin-left: -0.5rem !important;
  margin-right: -0.5rem !important
}

.tw--my-75 {
  margin-top: -0.75rem !important;
  margin-bottom: -0.75rem !important
}

.tw--mx-75 {
  margin-left: -0.75rem !important;
  margin-right: -0.75rem !important
}

.tw--my-100 {
  margin-top: -1rem !important;
  margin-bottom: -1rem !important
}

.tw--mx-100 {
  margin-left: -1rem !important;
  margin-right: -1rem !important
}

.tw--my-125 {
  margin-top: -1.25rem !important;
  margin-bottom: -1.25rem !important
}

.tw--mx-125 {
  margin-left: -1.25rem !important;
  margin-right: -1.25rem !important
}

.tw--my-150 {
  margin-top: -1.5rem !important;
  margin-bottom: -1.5rem !important
}

.tw--mx-150 {
  margin-left: -1.5rem !important;
  margin-right: -1.5rem !important
}

.tw--my-200 {
  margin-top: -2rem !important;
  margin-bottom: -2rem !important
}

.tw--mx-200 {
  margin-left: -2rem !important;
  margin-right: -2rem !important
}

.tw--my-250 {
  margin-top: -2.5rem !important;
  margin-bottom: -2.5rem !important
}

.tw--mx-250 {
  margin-left: -2.5rem !important;
  margin-right: -2.5rem !important
}

.tw--my-300 {
  margin-top: -3rem !important;
  margin-bottom: -3rem !important
}

.tw--mx-300 {
  margin-left: -3rem !important;
  margin-right: -3rem !important
}

.tw--my-400 {
  margin-top: -4rem !important;
  margin-bottom: -4rem !important
}

.tw--mx-400 {
  margin-left: -4rem !important;
  margin-right: -4rem !important
}

.tw--my-px {
  margin-top: -1px !important;
  margin-bottom: -1px !important
}

.tw--mx-px {
  margin-left: -1px !important;
  margin-right: -1px !important
}

.tw-mt-0 {
  margin-top: 0 !important
}

.tw-mr-0 {
  margin-right: 0 !important
}

.tw-mb-0 {
  margin-bottom: 0 !important
}

.tw-ml-0 {
  margin-left: 0 !important
}

.tw-mt-12 {
  margin-top: 0.125rem !important
}

.tw-mr-12 {
  margin-right: 0.125rem !important
}

.tw-mb-12 {
  margin-bottom: 0.125rem !important
}

.tw-ml-12 {
  margin-left: 0.125rem !important
}

.tw-mt-25 {
  margin-top: 0.25rem !important
}

.tw-mr-25 {
  margin-right: 0.25rem !important
}

.tw-mb-25 {
  margin-bottom: 0.25rem !important
}

.tw-ml-25 {
  margin-left: 0.25rem !important
}

.tw-mt-50 {
  margin-top: 0.5rem !important
}

.tw-mr-50 {
  margin-right: 0.5rem !important
}

.tw-mb-50 {
  margin-bottom: 0.5rem !important
}

.tw-ml-50 {
  margin-left: 0.5rem !important
}

.tw-mt-75 {
  margin-top: 0.75rem !important
}

.tw-mr-75 {
  margin-right: 0.75rem !important
}

.tw-mb-75 {
  margin-bottom: 0.75rem !important
}

.tw-ml-75 {
  margin-left: 0.75rem !important
}

.tw-mt-100 {
  margin-top: 1rem !important
}

.tw-mr-100 {
  margin-right: 1rem !important
}

.tw-mb-100 {
  margin-bottom: 1rem !important
}

.tw-ml-100 {
  margin-left: 1rem !important
}

.tw-mt-125 {
  margin-top: 1.25rem !important
}

.tw-mr-125 {
  margin-right: 1.25rem !important
}

.tw-mb-125 {
  margin-bottom: 1.25rem !important
}

.tw-ml-125 {
  margin-left: 1.25rem !important
}

.tw-mt-150 {
  margin-top: 1.5rem !important
}

.tw-mr-150 {
  margin-right: 1.5rem !important
}

.tw-mb-150 {
  margin-bottom: 1.5rem !important
}

.tw-ml-150 {
  margin-left: 1.5rem !important
}

.tw-mt-200 {
  margin-top: 2rem !important
}

.tw-mr-200 {
  margin-right: 2rem !important
}

.tw-mb-200 {
  margin-bottom: 2rem !important
}

.tw-ml-200 {
  margin-left: 2rem !important
}

.tw-mt-250 {
  margin-top: 2.5rem !important
}

.tw-mr-250 {
  margin-right: 2.5rem !important
}

.tw-mb-250 {
  margin-bottom: 2.5rem !important
}

.tw-ml-250 {
  margin-left: 2.5rem !important
}

.tw-mt-300 {
  margin-top: 3rem !important
}

.tw-mr-300 {
  margin-right: 3rem !important
}

.tw-mb-300 {
  margin-bottom: 3rem !important
}

.tw-ml-300 {
  margin-left: 3rem !important
}

.tw-mt-400 {
  margin-top: 4rem !important
}

.tw-mr-400 {
  margin-right: 4rem !important
}

.tw-mb-400 {
  margin-bottom: 4rem !important
}

.tw-ml-400 {
  margin-left: 4rem !important
}

.tw-mt-auto {
  margin-top: auto !important
}

.tw-mr-auto {
  margin-right: auto !important
}

.tw-mb-auto {
  margin-bottom: auto !important
}

.tw-ml-auto {
  margin-left: auto !important
}

.tw-mt-px {
  margin-top: 1px !important
}

.tw-mr-px {
  margin-right: 1px !important
}

.tw-mb-px {
  margin-bottom: 1px !important
}

.tw-ml-px {
  margin-left: 1px !important
}

.tw--mt-12 {
  margin-top: -0.125rem !important
}

.tw--mr-12 {
  margin-right: -0.125rem !important
}

.tw--mb-12 {
  margin-bottom: -0.125rem !important
}

.tw--ml-12 {
  margin-left: -0.125rem !important
}

.tw--mt-25 {
  margin-top: -0.25rem !important
}

.tw--mr-25 {
  margin-right: -0.25rem !important
}

.tw--mb-25 {
  margin-bottom: -0.25rem !important
}

.tw--ml-25 {
  margin-left: -0.25rem !important
}

.tw--mt-50 {
  margin-top: -0.5rem !important
}

.tw--mr-50 {
  margin-right: -0.5rem !important
}

.tw--mb-50 {
  margin-bottom: -0.5rem !important
}

.tw--ml-50 {
  margin-left: -0.5rem !important
}

.tw--mt-75 {
  margin-top: -0.75rem !important
}

.tw--mr-75 {
  margin-right: -0.75rem !important
}

.tw--mb-75 {
  margin-bottom: -0.75rem !important
}

.tw--ml-75 {
  margin-left: -0.75rem !important
}

.tw--mt-100 {
  margin-top: -1rem !important
}

.tw--mr-100 {
  margin-right: -1rem !important
}

.tw--mb-100 {
  margin-bottom: -1rem !important
}

.tw--ml-100 {
  margin-left: -1rem !important
}

.tw--mt-125 {
  margin-top: -1.25rem !important
}

.tw--mr-125 {
  margin-right: -1.25rem !important
}

.tw--mb-125 {
  margin-bottom: -1.25rem !important
}

.tw--ml-125 {
  margin-left: -1.25rem !important
}

.tw--mt-150 {
  margin-top: -1.5rem !important
}

.tw--mr-150 {
  margin-right: -1.5rem !important
}

.tw--mb-150 {
  margin-bottom: -1.5rem !important
}

.tw--ml-150 {
  margin-left: -1.5rem !important
}

.tw--mt-200 {
  margin-top: -2rem !important
}

.tw--mr-200 {
  margin-right: -2rem !important
}

.tw--mb-200 {
  margin-bottom: -2rem !important
}

.tw--ml-200 {
  margin-left: -2rem !important
}

.tw--mt-250 {
  margin-top: -2.5rem !important
}

.tw--mr-250 {
  margin-right: -2.5rem !important
}

.tw--mb-250 {
  margin-bottom: -2.5rem !important
}

.tw--ml-250 {
  margin-left: -2.5rem !important
}

.tw--mt-300 {
  margin-top: -3rem !important
}

.tw--mr-300 {
  margin-right: -3rem !important
}

.tw--mb-300 {
  margin-bottom: -3rem !important
}

.tw--ml-300 {
  margin-left: -3rem !important
}

.tw--mt-400 {
  margin-top: -4rem !important
}

.tw--mr-400 {
  margin-right: -4rem !important
}

.tw--mb-400 {
  margin-bottom: -4rem !important
}

.tw--ml-400 {
  margin-left: -4rem !important
}

.tw--mt-px {
  margin-top: -1px !important
}

.tw--mr-px {
  margin-right: -1px !important
}

.tw--mb-px {
  margin-bottom: -1px !important
}

.tw--ml-px {
  margin-left: -1px !important
}

.tw-max-h-full {
  max-height: 100% !important
}

.tw-max-h-screen {
  max-height: 100vh !important
}

.tw-max-w-full {
  max-width: 100% !important
}

.tw-min-h-0 {
  min-height: 0 !important
}

.tw-min-h-full {
  min-height: 100% !important
}

.tw-min-h-screen {
  min-height: 100vh !important
}

.tw-min-w-0 {
  min-width: 0 !important
}

.tw-min-w-full {
  min-width: 100% !important
}

.tw-object-contain {
  -o-object-fit: contain !important;
     object-fit: contain !important
}

.tw-object-cover {
  -o-object-fit: cover !important;
     object-fit: cover !important
}

.tw-object-fill {
  -o-object-fit: fill !important;
     object-fit: fill !important
}

.tw-object-none {
  -o-object-fit: none !important;
     object-fit: none !important
}

.tw-object-scale-down {
  -o-object-fit: scale-down !important;
     object-fit: scale-down !important
}

.tw-object-bottom {
  -o-object-position: bottom !important;
     object-position: bottom !important
}

.tw-object-center {
  -o-object-position: center !important;
     object-position: center !important
}

.tw-object-left {
  -o-object-position: left !important;
     object-position: left !important
}

.tw-object-left-bottom {
  -o-object-position: left bottom !important;
     object-position: left bottom !important
}

.tw-object-left-top {
  -o-object-position: left top !important;
     object-position: left top !important
}

.tw-object-right {
  -o-object-position: right !important;
     object-position: right !important
}

.tw-object-right-bottom {
  -o-object-position: right bottom !important;
     object-position: right bottom !important
}

.tw-object-right-top {
  -o-object-position: right top !important;
     object-position: right top !important
}

.tw-object-top {
  -o-object-position: top !important;
     object-position: top !important
}

.tw-opacity-0 {
  opacity: 0 !important
}

.tw-opacity-25 {
  opacity: 0.25 !important
}

.tw-opacity-33 {
  opacity: 0.33 !important
}

.tw-opacity-50 {
  opacity: 0.5 !important
}

.tw-opacity-66 {
  opacity: 0.66 !important
}

.tw-opacity-75 {
  opacity: 0.75 !important
}

.tw-opacity-90 {
  opacity: 0.9 !important
}

.tw-opacity-100 {
  opacity: 1 !important
}

.hover\:tw-opacity-0:hover {
  opacity: 0 !important
}

.hover\:tw-opacity-25:hover {
  opacity: 0.25 !important
}

.hover\:tw-opacity-33:hover {
  opacity: 0.33 !important
}

.hover\:tw-opacity-50:hover {
  opacity: 0.5 !important
}

.hover\:tw-opacity-66:hover {
  opacity: 0.66 !important
}

.hover\:tw-opacity-75:hover {
  opacity: 0.75 !important
}

.hover\:tw-opacity-90:hover {
  opacity: 0.9 !important
}

.hover\:tw-opacity-100:hover {
  opacity: 1 !important
}

.focus\:tw-opacity-0:focus {
  opacity: 0 !important
}

.focus\:tw-opacity-25:focus {
  opacity: 0.25 !important
}

.focus\:tw-opacity-33:focus {
  opacity: 0.33 !important
}

.focus\:tw-opacity-50:focus {
  opacity: 0.5 !important
}

.focus\:tw-opacity-66:focus {
  opacity: 0.66 !important
}

.focus\:tw-opacity-75:focus {
  opacity: 0.75 !important
}

.focus\:tw-opacity-90:focus {
  opacity: 0.9 !important
}

.focus\:tw-opacity-100:focus {
  opacity: 1 !important
}

.tw-outline-none {
  outline: 0 !important
}

.focus\:tw-outline-none:focus {
  outline: 0 !important
}

.tw-overflow-auto {
  overflow: auto !important
}

.tw-overflow-hidden {
  overflow: hidden !important
}

.tw-overflow-visible {
  overflow: visible !important
}

.tw-overflow-scroll {
  overflow: scroll !important
}

.tw-overflow-x-auto {
  overflow-x: auto !important
}

.tw-overflow-y-auto {
  overflow-y: auto !important
}

.tw-overflow-x-hidden {
  overflow-x: hidden !important
}

.tw-overflow-y-hidden {
  overflow-y: hidden !important
}

.tw-overflow-x-visible {
  overflow-x: visible !important
}

.tw-overflow-y-visible {
  overflow-y: visible !important
}

.tw-overflow-x-scroll {
  overflow-x: scroll !important
}

.tw-overflow-y-scroll {
  overflow-y: scroll !important
}

.tw-scrolling-touch {
  -webkit-overflow-scrolling: touch !important
}

.tw-scrolling-auto {
  -webkit-overflow-scrolling: auto !important
}

.tw-p-0 {
  padding: 0 !important
}

.tw-p-12 {
  padding: 0.125rem !important
}

.tw-p-25 {
  padding: 0.25rem !important
}

.tw-p-50 {
  padding: 0.5rem !important
}

.tw-p-75 {
  padding: 0.75rem !important
}

.tw-p-100 {
  padding: 1rem !important
}

.tw-p-125 {
  padding: 1.25rem !important
}

.tw-p-150 {
  padding: 1.5rem !important
}

.tw-p-200 {
  padding: 2rem !important
}

.tw-p-250 {
  padding: 2.5rem !important
}

.tw-p-300 {
  padding: 3rem !important
}

.tw-p-400 {
  padding: 4rem !important
}

.tw-p-px {
  padding: 1px !important
}

.tw-py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important
}

.tw-px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important
}

.tw-py-12 {
  padding-top: 0.125rem !important;
  padding-bottom: 0.125rem !important
}

.tw-px-12 {
  padding-left: 0.125rem !important;
  padding-right: 0.125rem !important
}

.tw-py-25 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important
}

.tw-px-25 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important
}

.tw-py-50 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important
}

.tw-px-50 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important
}

.tw-py-75 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important
}

.tw-px-75 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important
}

.tw-py-100 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important
}

.tw-px-100 {
  padding-left: 1rem !important;
  padding-right: 1rem !important
}

.tw-py-125 {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important
}

.tw-px-125 {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important
}

.tw-py-150 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important
}

.tw-px-150 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important
}

.tw-py-200 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important
}

.tw-px-200 {
  padding-left: 2rem !important;
  padding-right: 2rem !important
}

.tw-py-250 {
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important
}

.tw-px-250 {
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important
}

.tw-py-300 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important
}

.tw-px-300 {
  padding-left: 3rem !important;
  padding-right: 3rem !important
}

.tw-py-400 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important
}

.tw-px-400 {
  padding-left: 4rem !important;
  padding-right: 4rem !important
}

.tw-py-px {
  padding-top: 1px !important;
  padding-bottom: 1px !important
}

.tw-px-px {
  padding-left: 1px !important;
  padding-right: 1px !important
}

.tw-pt-0 {
  padding-top: 0 !important
}

.tw-pr-0 {
  padding-right: 0 !important
}

.tw-pb-0 {
  padding-bottom: 0 !important
}

.tw-pl-0 {
  padding-left: 0 !important
}

.tw-pt-12 {
  padding-top: 0.125rem !important
}

.tw-pr-12 {
  padding-right: 0.125rem !important
}

.tw-pb-12 {
  padding-bottom: 0.125rem !important
}

.tw-pl-12 {
  padding-left: 0.125rem !important
}

.tw-pt-25 {
  padding-top: 0.25rem !important
}

.tw-pr-25 {
  padding-right: 0.25rem !important
}

.tw-pb-25 {
  padding-bottom: 0.25rem !important
}

.tw-pl-25 {
  padding-left: 0.25rem !important
}

.tw-pt-50 {
  padding-top: 0.5rem !important
}

.tw-pr-50 {
  padding-right: 0.5rem !important
}

.tw-pb-50 {
  padding-bottom: 0.5rem !important
}

.tw-pl-50 {
  padding-left: 0.5rem !important
}

.tw-pt-75 {
  padding-top: 0.75rem !important
}

.tw-pr-75 {
  padding-right: 0.75rem !important
}

.tw-pb-75 {
  padding-bottom: 0.75rem !important
}

.tw-pl-75 {
  padding-left: 0.75rem !important
}

.tw-pt-100 {
  padding-top: 1rem !important
}

.tw-pr-100 {
  padding-right: 1rem !important
}

.tw-pb-100 {
  padding-bottom: 1rem !important
}

.tw-pl-100 {
  padding-left: 1rem !important
}

.tw-pt-125 {
  padding-top: 1.25rem !important
}

.tw-pr-125 {
  padding-right: 1.25rem !important
}

.tw-pb-125 {
  padding-bottom: 1.25rem !important
}

.tw-pl-125 {
  padding-left: 1.25rem !important
}

.tw-pt-150 {
  padding-top: 1.5rem !important
}

.tw-pr-150 {
  padding-right: 1.5rem !important
}

.tw-pb-150 {
  padding-bottom: 1.5rem !important
}

.tw-pl-150 {
  padding-left: 1.5rem !important
}

.tw-pt-200 {
  padding-top: 2rem !important
}

.tw-pr-200 {
  padding-right: 2rem !important
}

.tw-pb-200 {
  padding-bottom: 2rem !important
}

.tw-pl-200 {
  padding-left: 2rem !important
}

.tw-pt-250 {
  padding-top: 2.5rem !important
}

.tw-pr-250 {
  padding-right: 2.5rem !important
}

.tw-pb-250 {
  padding-bottom: 2.5rem !important
}

.tw-pl-250 {
  padding-left: 2.5rem !important
}

.tw-pt-300 {
  padding-top: 3rem !important
}

.tw-pr-300 {
  padding-right: 3rem !important
}

.tw-pb-300 {
  padding-bottom: 3rem !important
}

.tw-pl-300 {
  padding-left: 3rem !important
}

.tw-pt-400 {
  padding-top: 4rem !important
}

.tw-pr-400 {
  padding-right: 4rem !important
}

.tw-pb-400 {
  padding-bottom: 4rem !important
}

.tw-pl-400 {
  padding-left: 4rem !important
}

.tw-pt-px {
  padding-top: 1px !important
}

.tw-pr-px {
  padding-right: 1px !important
}

.tw-pb-px {
  padding-bottom: 1px !important
}

.tw-pl-px {
  padding-left: 1px !important
}

.tw-pointer-events-none {
  pointer-events: none !important
}

.tw-pointer-events-auto {
  pointer-events: auto !important
}

.tw-static {
  position: static !important
}

.tw-fixed {
  position: fixed !important
}

.tw-absolute {
  position: absolute !important
}

.tw-relative {
  position: relative !important
}

.tw-sticky {
  position: -webkit-sticky !important;
  position: sticky !important
}

.tw-inset-0 {
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important
}

.tw-inset-auto {
  top: auto !important;
  right: auto !important;
  bottom: auto !important;
  left: auto !important
}

.tw-inset-y-0 {
  top: 0 !important;
  bottom: 0 !important
}

.tw-inset-x-0 {
  right: 0 !important;
  left: 0 !important
}

.tw-inset-y-auto {
  top: auto !important;
  bottom: auto !important
}

.tw-inset-x-auto {
  right: auto !important;
  left: auto !important
}

.tw-top-0 {
  top: 0 !important
}

.tw-right-0 {
  right: 0 !important
}

.tw-bottom-0 {
  bottom: 0 !important
}

.tw-left-0 {
  left: 0 !important
}

.tw-top-auto {
  top: auto !important
}

.tw-right-auto {
  right: auto !important
}

.tw-bottom-auto {
  bottom: auto !important
}

.tw-left-auto {
  left: auto !important
}

.tw-resize-none {
  resize: none !important
}

.tw-resize-y {
  resize: vertical !important
}

.tw-resize-x {
  resize: horizontal !important
}

.tw-resize {
  resize: both !important
}

.tw-shadow-xs {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05) !important
}

.tw-shadow-sm {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important
}

.tw-shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06) !important
}

.tw-shadow-md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important
}

.tw-shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important
}

.tw-shadow-xl {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04) !important
}

.tw-shadow-2xl {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25) !important
}

.tw-shadow-inner {
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06) !important
}

.tw-shadow-outline {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5) !important
}

.tw-shadow-none {
  box-shadow: none !important
}

.hover\:tw-shadow-xs:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05) !important
}

.hover\:tw-shadow-sm:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important
}

.hover\:tw-shadow:hover {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06) !important
}

.hover\:tw-shadow-md:hover {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important
}

.hover\:tw-shadow-lg:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important
}

.hover\:tw-shadow-xl:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04) !important
}

.hover\:tw-shadow-2xl:hover {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25) !important
}

.hover\:tw-shadow-inner:hover {
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06) !important
}

.hover\:tw-shadow-outline:hover {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5) !important
}

.hover\:tw-shadow-none:hover {
  box-shadow: none !important
}

.focus\:tw-shadow-xs:focus {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05) !important
}

.focus\:tw-shadow-sm:focus {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important
}

.focus\:tw-shadow:focus {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06) !important
}

.focus\:tw-shadow-md:focus {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important
}

.focus\:tw-shadow-lg:focus {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important
}

.focus\:tw-shadow-xl:focus {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04) !important
}

.focus\:tw-shadow-2xl:focus {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25) !important
}

.focus\:tw-shadow-inner:focus {
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06) !important
}

.focus\:tw-shadow-outline:focus {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5) !important
}

.focus\:tw-shadow-none:focus {
  box-shadow: none !important
}

.tw-stroke-current {
  stroke: currentColor !important
}

.tw-table-auto {
  table-layout: auto !important
}

.tw-table-fixed {
  table-layout: fixed !important
}

.tw-text-left {
  text-align: left !important
}

.tw-text-center {
  text-align: center !important
}

.tw-text-right {
  text-align: right !important
}

.tw-text-justify {
  text-align: justify !important
}

.tw-italic {
  font-style: italic !important
}

.tw-not-italic {
  font-style: normal !important
}

.tw-uppercase {
  text-transform: uppercase !important
}

.tw-lowercase {
  text-transform: lowercase !important
}

.tw-capitalize {
  text-transform: capitalize !important
}

.tw-normal-case {
  text-transform: none !important
}

.tw-underline {
  text-decoration: underline !important
}

.tw-line-through {
  text-decoration: line-through !important
}

.tw-no-underline {
  text-decoration: none !important
}

.hover\:tw-underline:hover {
  text-decoration: underline !important
}

.hover\:tw-line-through:hover {
  text-decoration: line-through !important
}

.hover\:tw-no-underline:hover {
  text-decoration: none !important
}

.focus\:tw-underline:focus {
  text-decoration: underline !important
}

.focus\:tw-line-through:focus {
  text-decoration: line-through !important
}

.focus\:tw-no-underline:focus {
  text-decoration: none !important
}

.tw-antialiased {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important
}

.tw-subpixel-antialiased {
  -webkit-font-smoothing: auto !important;
  -moz-osx-font-smoothing: auto !important
}

.tw-tracking-tighter {
  letter-spacing: -0.05em !important
}

.tw-tracking-tight {
  letter-spacing: -0.025em !important
}

.tw-tracking-normal {
  letter-spacing: 0 !important
}

.tw-tracking-wide {
  letter-spacing: 0.025em !important
}

.tw-tracking-wider {
  letter-spacing: 0.05em !important
}

.tw-tracking-widest {
  letter-spacing: 0.1em !important
}

.tw-select-none {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important
}

.tw-select-text {
  -webkit-user-select: text !important;
     -moz-user-select: text !important;
      -ms-user-select: text !important;
          user-select: text !important
}

.tw-select-all {
  -webkit-user-select: all !important;
     -moz-user-select: all !important;
      -ms-user-select: all !important;
          user-select: all !important
}

.tw-select-auto {
  -webkit-user-select: auto !important;
     -moz-user-select: auto !important;
      -ms-user-select: auto !important;
          user-select: auto !important
}

.tw-align-baseline {
  vertical-align: baseline !important
}

.tw-align-top {
  vertical-align: top !important
}

.tw-align-middle {
  vertical-align: middle !important
}

.tw-align-bottom {
  vertical-align: bottom !important
}

.tw-align-text-top {
  vertical-align: text-top !important
}

.tw-align-text-bottom {
  vertical-align: text-bottom !important
}

.tw-visible {
  visibility: visible !important
}

.tw-invisible {
  visibility: hidden !important
}

.tw-whitespace-normal {
  white-space: normal !important
}

.tw-whitespace-no-wrap {
  white-space: nowrap !important
}

.tw-whitespace-pre {
  white-space: pre !important
}

.tw-whitespace-pre-line {
  white-space: pre-line !important
}

.tw-whitespace-pre-wrap {
  white-space: pre-wrap !important
}

.tw-break-normal {
  overflow-wrap: normal !important;
  word-break: normal !important
}

.tw-break-words {
  overflow-wrap: break-word !important
}

.tw-break-all {
  word-break: break-all !important
}

.tw-truncate {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important
}

.tw-w-auto {
  width: auto !important
}

.tw-w-1\/2 {
  width: 50% !important
}

.tw-w-1\/3 {
  width: 33.333333% !important
}

.tw-w-2\/3 {
  width: 66.666667% !important
}

.tw-w-1\/4 {
  width: 25% !important
}

.tw-w-2\/4 {
  width: 50% !important
}

.tw-w-3\/4 {
  width: 75% !important
}

.tw-w-1\/5 {
  width: 20% !important
}

.tw-w-2\/5 {
  width: 40% !important
}

.tw-w-3\/5 {
  width: 60% !important
}

.tw-w-4\/5 {
  width: 80% !important
}

.tw-w-1\/6 {
  width: 16.666667% !important
}

.tw-w-2\/6 {
  width: 33.333333% !important
}

.tw-w-3\/6 {
  width: 50% !important
}

.tw-w-4\/6 {
  width: 66.666667% !important
}

.tw-w-5\/6 {
  width: 83.333333% !important
}

.tw-w-1\/12 {
  width: 8.333333% !important
}

.tw-w-2\/12 {
  width: 16.666667% !important
}

.tw-w-3\/12 {
  width: 25% !important
}

.tw-w-4\/12 {
  width: 33.333333% !important
}

.tw-w-5\/12 {
  width: 41.666667% !important
}

.tw-w-6\/12 {
  width: 50% !important
}

.tw-w-7\/12 {
  width: 58.333333% !important
}

.tw-w-8\/12 {
  width: 66.666667% !important
}

.tw-w-9\/12 {
  width: 75% !important
}

.tw-w-10\/12 {
  width: 83.333333% !important
}

.tw-w-11\/12 {
  width: 91.666667% !important
}

.tw-w-full {
  width: 100% !important
}

.tw-w-screen {
  width: 100vw !important
}

.tw-z-0 {
  z-index: 0 !important
}

.tw-z-10 {
  z-index: 10 !important
}

.tw-z-20 {
  z-index: 20 !important
}

.tw-z-30 {
  z-index: 30 !important
}

.tw-z-40 {
  z-index: 40 !important
}

.tw-z-50 {
  z-index: 50 !important
}

.tw-z-auto {
  z-index: auto !important
}

.tw-grid-flow-row {
  grid-auto-flow: row !important
}

.tw-grid-flow-col {
  grid-auto-flow: column !important
}

.tw-grid-flow-row-dense {
  grid-auto-flow: row dense !important
}

.tw-grid-flow-col-dense {
  grid-auto-flow: column dense !important
}

.tw-grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr)) !important
}

.tw-grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr)) !important
}

.tw-grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr)) !important
}

.tw-grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr)) !important
}

.tw-grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr)) !important
}

.tw-grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr)) !important
}

.tw-grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr)) !important
}

.tw-grid-cols-8 {
  grid-template-columns: repeat(8, minmax(0, 1fr)) !important
}

.tw-grid-cols-9 {
  grid-template-columns: repeat(9, minmax(0, 1fr)) !important
}

.tw-grid-cols-10 {
  grid-template-columns: repeat(10, minmax(0, 1fr)) !important
}

.tw-grid-cols-11 {
  grid-template-columns: repeat(11, minmax(0, 1fr)) !important
}

.tw-grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr)) !important
}

.tw-grid-cols-none {
  grid-template-columns: none !important
}

.tw-col-auto {
  grid-column: auto !important
}

.tw-col-span-1 {
  grid-column: span 1 / span 1 !important
}

.tw-col-span-2 {
  grid-column: span 2 / span 2 !important
}

.tw-col-span-3 {
  grid-column: span 3 / span 3 !important
}

.tw-col-span-4 {
  grid-column: span 4 / span 4 !important
}

.tw-col-span-5 {
  grid-column: span 5 / span 5 !important
}

.tw-col-span-6 {
  grid-column: span 6 / span 6 !important
}

.tw-col-span-7 {
  grid-column: span 7 / span 7 !important
}

.tw-col-span-8 {
  grid-column: span 8 / span 8 !important
}

.tw-col-span-9 {
  grid-column: span 9 / span 9 !important
}

.tw-col-span-10 {
  grid-column: span 10 / span 10 !important
}

.tw-col-span-11 {
  grid-column: span 11 / span 11 !important
}

.tw-col-span-12 {
  grid-column: span 12 / span 12 !important
}

.tw-col-start-1 {
  grid-column-start: 1 !important
}

.tw-col-start-2 {
  grid-column-start: 2 !important
}

.tw-col-start-3 {
  grid-column-start: 3 !important
}

.tw-col-start-4 {
  grid-column-start: 4 !important
}

.tw-col-start-5 {
  grid-column-start: 5 !important
}

.tw-col-start-6 {
  grid-column-start: 6 !important
}

.tw-col-start-7 {
  grid-column-start: 7 !important
}

.tw-col-start-8 {
  grid-column-start: 8 !important
}

.tw-col-start-9 {
  grid-column-start: 9 !important
}

.tw-col-start-10 {
  grid-column-start: 10 !important
}

.tw-col-start-11 {
  grid-column-start: 11 !important
}

.tw-col-start-12 {
  grid-column-start: 12 !important
}

.tw-col-start-13 {
  grid-column-start: 13 !important
}

.tw-col-start-auto {
  grid-column-start: auto !important
}

.tw-col-end-1 {
  grid-column-end: 1 !important
}

.tw-col-end-2 {
  grid-column-end: 2 !important
}

.tw-col-end-3 {
  grid-column-end: 3 !important
}

.tw-col-end-4 {
  grid-column-end: 4 !important
}

.tw-col-end-5 {
  grid-column-end: 5 !important
}

.tw-col-end-6 {
  grid-column-end: 6 !important
}

.tw-col-end-7 {
  grid-column-end: 7 !important
}

.tw-col-end-8 {
  grid-column-end: 8 !important
}

.tw-col-end-9 {
  grid-column-end: 9 !important
}

.tw-col-end-10 {
  grid-column-end: 10 !important
}

.tw-col-end-11 {
  grid-column-end: 11 !important
}

.tw-col-end-12 {
  grid-column-end: 12 !important
}

.tw-col-end-13 {
  grid-column-end: 13 !important
}

.tw-col-end-auto {
  grid-column-end: auto !important
}

.tw-grid-rows-1 {
  grid-template-rows: repeat(1, minmax(0, 1fr)) !important
}

.tw-grid-rows-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr)) !important
}

.tw-grid-rows-3 {
  grid-template-rows: repeat(3, minmax(0, 1fr)) !important
}

.tw-grid-rows-4 {
  grid-template-rows: repeat(4, minmax(0, 1fr)) !important
}

.tw-grid-rows-5 {
  grid-template-rows: repeat(5, minmax(0, 1fr)) !important
}

.tw-grid-rows-6 {
  grid-template-rows: repeat(6, minmax(0, 1fr)) !important
}

.tw-grid-rows-none {
  grid-template-rows: none !important
}

.tw-row-auto {
  grid-row: auto !important
}

.tw-row-span-1 {
  grid-row: span 1 / span 1 !important
}

.tw-row-span-2 {
  grid-row: span 2 / span 2 !important
}

.tw-row-span-3 {
  grid-row: span 3 / span 3 !important
}

.tw-row-span-4 {
  grid-row: span 4 / span 4 !important
}

.tw-row-span-5 {
  grid-row: span 5 / span 5 !important
}

.tw-row-span-6 {
  grid-row: span 6 / span 6 !important
}

.tw-row-start-1 {
  grid-row-start: 1 !important
}

.tw-row-start-2 {
  grid-row-start: 2 !important
}

.tw-row-start-3 {
  grid-row-start: 3 !important
}

.tw-row-start-4 {
  grid-row-start: 4 !important
}

.tw-row-start-5 {
  grid-row-start: 5 !important
}

.tw-row-start-6 {
  grid-row-start: 6 !important
}

.tw-row-start-7 {
  grid-row-start: 7 !important
}

.tw-row-start-auto {
  grid-row-start: auto !important
}

.tw-row-end-1 {
  grid-row-end: 1 !important
}

.tw-row-end-2 {
  grid-row-end: 2 !important
}

.tw-row-end-3 {
  grid-row-end: 3 !important
}

.tw-row-end-4 {
  grid-row-end: 4 !important
}

.tw-row-end-5 {
  grid-row-end: 5 !important
}

.tw-row-end-6 {
  grid-row-end: 6 !important
}

.tw-row-end-7 {
  grid-row-end: 7 !important
}

.tw-row-end-auto {
  grid-row-end: auto !important
}

@keyframes spin {
  to {
    transform: rotate(360deg)
  }
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0
  }
}

@keyframes pulse {
  50% {
    opacity: .5
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8,0,1,1)
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0,0,0.2,1)
  }
}

.tw-animate-none {
  animation: none !important
}

.tw-animate-spin {
  animation: spin 1s linear infinite !important
}

.tw-animate-ping {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite !important
}

.tw-animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite !important
}

.tw-animate-bounce {
  animation: bounce 1s infinite !important
}
